*{
        margin: 0;
        cursor: crosshair; 
}
.body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}
padding-left: 2.5rem;


/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(27, 160, 27);
border-color: rgb(27, 160, 27);
    text-decoration: none;
  }

  #button-1:focus, #button-2:focus, #button-3:focus, #button-4:focus, #button-5:focus, #button-6:focus, #button-7:focus, #button-8:focus, #button-9:focus, #button-10:focus, #button-11:focus{
  color: rgb(27, 160, 27);
border-color: rgb(27, 160, 27);

}

  
.title {
    margin-left: 30px;
    position: relative;
    float: left;
    padding-top: 5rem;
    font-family: 'Goozette';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 101%;
    color: rgb(7, 7, 7);
    /* or 97px */
    letter-spacing: 0.055em; 
    z-index: -1;
}

h1{
    margin: auto;
padding-top: 2.5rem;
padding-left: 2.5rem;
position: relative;
float: left;
    font-family: 'Goozette';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}

h2 {
    font-family: 'Creato Display', sans-serif;
    font-style: thin;
    font-weight: 400;
    font-size: 40px;
}

p{
    font-family: 'Creato Display', sans-serif;
    font-style: normal;
    text-align: left;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7rem;
}

sub{
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    font-size: 15px; 
}


li{
    font-family: 'Creato Display', sans-serif;
    font-style: normal;
    text-align: left;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
}


/* GENERATIVE HEADER ANIMATIONS*/

.header-text-gardens{
position: relative;
margin: auto;
z-index: 1;
padding-top: 5.5rem;
}
  
#header-text-gardens {
position: relative;
padding-left: 18px;
font-family: 'Goozette';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 101%;
letter-spacing: -0.045em;
color: white;
-webkit-text-stroke: 1px black;
z-index: -3;
}

.marquee {
    height: 30px;
    overflow: hidden;
    top: 0;
    position: absolute;
    background: #000000;
    color: #ffffff;
    width: 100vw;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'JetBrains Mono', monospace;
     font-style: normal;
      text-align: left;
      font-weight: 400;
      font-size: 12px; 
    text-align: left;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 50s linear infinite;
}



@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.marquee-2{
display: block;
overflow: hidden;
position: absolute;
margin: auto;
bottom: 0;
background: black;
}

.marquee-2 p{
font-family: 'Goozette';
font-style: normal;
font-weight: 400;  
color: #ffffff;
font-size: 30px;
padding: 1.5rem;
-moz-transform: translateX(100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-animation: scroll-right 10s linear infinite;
    -webkit-animation: scroll-right 10s linear infinite;
    animation: scroll-right 50s linear infinite;
}

@-moz-keyframes scroll-right {
0% {
-moz-transform: translateX(-100%);
}
100% {
-moz-transform: translateX(-100%);
}
}

@-webkit-keyframes scroll-right {
0% {
-webkit-transform: translateX(100%);
}
100% {
-webkit-transform: translateX(-100%);
}
}

@keyframes scroll-right {
0% {
-moz-transform: translateX(100%);
-webkit-transform: translateX(100%);
transform: translateX(100%);
}
100% {
-moz-transform: translateX(-100%);
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
}


.about{
    display: block;
    position: absolute;
    margin: auto;
    top: 5rem;
    right: 2rem;
    font-family: "Goozette", sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: right;
}

.title-1{
    position: relative;
    left: 10rem;
    top: 20rem;

}

.title-2{
    position: relative;
    top: 10rem;
    left: 40rem;
}

.title-3{
    position: relative;
    top: 10rem;
    left: 40rem;}

    .title-4{
        position: relative;
        top: 10rem;
        left: 50rem;}

        .title-5{
            position: relative;
            top: 10rem;
            left: 30rem;}

#sunflower{
    position: relative;
    transition: 0.5s all;  
    z-index: 1;

}

#sunflower:hover{
    transform: scale(1.2);
}

/* buttons */
.plant-keyboard-box {
position: fixed;
box-sizing: border-box;
width: 50vw;
display: block;
border: 1px solid;
bottom: 0;
left: 0;
align-content: center;
padding-bottom: 10px ;
z-index: 2;
background-color: rgba(255, 255, 255, 0.7);
}

.dropbtn1 {
    font-family: 'Goozette', sans-serif;
    font-style: normal;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.7rem;
    letter-spacing: 2px;
    padding-top: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    margin: auto;
    display: block;
}

.grow-keyboard-box {
    position: fixed;
    box-sizing: border-box;
    width: 50vw;
    display: block;
    border: 1px solid;
    bottom: 0;
    right: 0;
    align-content: center;
    padding-bottom: 10px ;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3);
    }

.dropbtn2 {
    font-family: 'Goozette', sans-serif;
    font-style: normal;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.7rem;
    letter-spacing: 2px;
    padding-top: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    margin: auto;
    display: block;
}

.grow-button-close{
    position: fixed;
    box-sizing: border-box;
    width: 50vw;
    display: block;
    border: 1px solid;
    bottom: 0;
    right: 0;
    align-content: center;
    padding-bottom: 10px ;
    z-index: 2;
}
.grow-button-close:hover{
    background-color: black;
}

.dropbtn2:hover {
        color: white;
}

.dropbtn2:active{
    color:white;
}
#myDropup {
    transform: translateY(-0%);
}
.dropup-content{
    padding-bottom: 1rem;
    display: none;
}

.dropbtn1:hover .dropbtn1:focus .dropup-content
{
    display: block;
border-top: 1px, solid;
}

.show {display:block;
}


#text-prompt, #text-prompt-2{
    font-family: 'Xanh Mono', monospace;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7rem;
}



#myDropup2 {
    transform: translateY(-0%);
}
.dropup-content-2{
    padding-bottom: 1rem;
    display: none;
}

.dropbtn2:hover .dropbtn2:focus .dropup-content-2{
    display: block;
    border-top: 1px, solid;
}

.show {display:block;
}


/* ----------------initiatives.html----------------*/
.list{
    padding-top: 10rem;
    display: block;
    margin-left: 50px;
    margin-bottom: 100px;

}

#button-1, #button-2, #button-3, #button-4, #button-5, #button-6, 
#button-7, #button-8, #button-9, #button-10, #button-11
{
    background: none;
    position: relative;    
font-family: 'Xanh Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
border-width:1px;
border-style:solid;
border-color: black;
border-radius: 25px;
padding: 15px;
margin-left: 15px;
margin-top: 20px;
  }

/*intitiative boxes*/
.box1{
    display: inline-block;
    width: 50%;
    padding-bottom: 5rem;
}

.box2{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}

.box3{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}

.box4{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}

.box5{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}

.box6{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}

.box7{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box8{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box9{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box10{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box11{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box12{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box13{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box14{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box15{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box16{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box17{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box18{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box19{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box20{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box21{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box22{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box23{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box24{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box25{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box26{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box27{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box28{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box29{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box30{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box31{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box32{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box33{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box34{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box35{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box36{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box37{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}
.box38{
    display: inline-block;
    width: 50%;
position: inherit;
padding-bottom: 5rem;
}