*{
    margin: 0;
    overflow: hidden;
}

/* unvisited link */
a:link {
color: black;
text-decoration: none;
}

/* visited link */
a:visited {
color: black;
text-decoration: none;
}


.title {
margin: auto;
padding-top: 2.5rem;
padding-left: 1.2rem;
position: relative;
float: left;
font-family: 'Goozette';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 101%;
color: rgb(7, 7, 7);
/* or 97px */
letter-spacing: 0.055em; 
z-index: -1;
}

h2 {
font-family: 'Creato Display', sans-serif;
font-style: thin;
font-weight: 400;
font-size: 40px;
}

p{
font-family: 'Creato Display', sans-serif;
font-style: normal;
text-align: left;
padding-bottom: 5px;
font-weight: 400;
font-size: 20px;
line-height: 1.7rem;
}

sub{
font-family: 'JetBrains Mono', monospace;
font-style: normal;
font-weight: 500;
text-align: left;
font-size: 11px; 
}


li{
font-family: 'Creato Display', sans-serif;
font-style: normal;
text-align: left;
padding-bottom: 5px;
font-weight: 400;
font-size: 20px;
}


/* GENERATIVE HEADER ANIMATIONS*/

.header-text-gardens{
position: absolute;
margin-left: 1.8rem;
display: block;
box-sizing: border-box;
padding-top: 5rem;
}


#header-text-gardens {
margin: auto;
position: relative;
font-family: 'Goozette';
font-style: normal;
line-height: 100%;
letter-spacing: -0.045em;
color: white;
-webkit-text-stroke: 0.7px black;
z-index: 1;
}

/*TOP NAV MENU CODE*/
.mobile-menu{
    position: absolute;
    margin: auto;
    top: -1px;
    right: 0;
display: inline-block;
width: 10rem;
height: 8.5rem;
background-color: #eef8f3;
border: 1px solid;}

.bar1 .bar2 {
    display: block;
    width: 35px;
  height: 5px;
}





.marquee {
    height: 30px;
    position: absolute;
margin-top: 8.5rem;    
background: #000000;
    color: #ffffff;
    width: 100vw;
   overflow-x: hidden;
}

.marquee p {
    position: absolute;
    height: 100%;
    margin: auto;
    font-family: 'JetBrains Mono', monospace;
     font-style: normal;
      text-align: left;
      font-weight: 400;
      font-size: 12px; 
  white-space: nowrap;
  will-change: transform;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(calc(-55% - 1rem)); }
}

.marquee-2{
display: block;
position: absolute;
margin: auto;
bottom: 0;
padding-bottom: 10px;
background: black;
height: 50px;
}

.marquee-2 p{
font-family: 'Goozette';
font-style: normal;
font-weight: 400;  
color: #ffffff;
font-size: 25px;
padding: 1.5rem;
white-space: nowrap;
  will-change: transform;
  animation: scroll 10s linear infinite;
  animation-direction: reverse ;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-55% - 1rem));
     }
  }



.flex{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
position: relative;
    margin-top: 12rem;
    right: 0;
width: 100vw;
height: 742px;
background-color: rgb(251, 253, 252);
}

.title-1 {
    display: inline-flexbox;
position: relative;
text-align: center;
padding: 10px;
width: 45vw;
height: 25vh;
}

.title-2 {
    display: inline-flexbox;
position: relative;
float: left;
text-align: center;
padding: 10px;
width: 45vw;
height: 25vh;
}

.title-3 {
    display: inline-flexbox;
position: relative;
text-align: center;
padding: 10px;
width: 45vw;
height: 25vh;
}


.title-4 {
    display: inline-flexbox;
position: relative;
text-align: center;
padding: 10px;
width: 45vw;
height: 25vh;
}

.title-5{
    display: inline-flexbox;
position: relative;
text-align: center;
padding: 10px;
width: 45vw;
height: 25vh;
}

#seed{
    display: block;
    position: relative;
    margin: auto;
    padding-bottom: 0.7rem;
}

#sunflower { display: block;
    position: relative;
    margin: auto;
    padding-bottom: 0.7rem;
} 

#conversations{  display: block;
    position: relative;
    margin: auto;
    padding-bottom: 0.7rem;
}

#gloves{   display: block;
    position: relative;
    margin: auto;
    padding-bottom: 0.7rem;
}

#watering-can { display: block;
    position: relative;
    margin: auto;
    padding-bottom: 0.7rem;
}


.about-mobile{
    background-color:black;
    display: inline-flexbox;
    width: 50vw;
    height: 25vh;
    position: absolute;
    bottom: 0rem;
    right: 0;
}

.about-mobile p{
    margin: auto;
    padding: 3rem;
    position: relative;
    text-align: left;
    font-family: 'Goozette', sans-serif;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: #ffffff;
}



